In [1]:
import numpy as np
import pandas as pd

# Generate random square footage
square_footage = np.random.randint(500, 3500, size=100)

# Assume a simple linear relationship with some noise
prices = square_footage * 150 + np.random.normal(0, 30000, size=100)

# Create a DataFrame
df = pd.DataFrame({'SquareFootage': square_footage, 'Price': prices})

In [4]:
df.style.format(precision=2)